.flex-container {
        display: flex;
        flex-direction: column;
}

#input {
    background-color: white;
    color: azure;
    font-size: 1.1em;
    flex: 1;
}

.row {
  background: white;
  flex: 1;
  border: 1px solid blue;
  padding: 5%;
}

.column {
  background: white;
  flex: 1;
  display: flex;
  flex-direction: row;
  width: 5%;
  height: 5%;

}	 
