#container {
	border: 1px solid blue;
	display: flex;
	padding: 1em;
	background-color: blue;
	flex-direction: column;
	flex-wrap: wrap;
	width: 960px;
}

#thing1, #thing2, #thing5 {
	margin: 1em;
	border: 1px solid red;
	flex: 2;
	padding: 1em;
	background-color: yellow;
	display: flex;
}

#container3 {
display: flex;
flex-direction: row;
}

#thing3 {
	flex-direction: column;
	flex: 2;
	display: flex;
	padding: 1em;
	align-items: stretch;
}

#thing3a, #thing3b {
	flex: 1;
	padding: 1em;
	border: 1px solid red;
	background-color: yellow;
	margin: 1em;

}

#thing1a, #thing1b, #thing1c {
	background-color: peachpuff;
	padding: 1em;
	margin: 1em;
	border: 1px solid red;
	flex: 1;
}

#thing2 {
	flex: 2;

}

#thing1b {
	display: flex;
}

#thing1b1, #thing1b2 {
	border: 1px solid red;
	background-color: pink;;
	padding: 1em;
	flex: 1;
	
}

#thing5 {
	display: flex;
}

#thing5a, #thing5d {
	flex: 2;
	border: 1px solid gray;
	margin: 1em;
	padding: 1em;
	background-color: white;
}

#thing5b, #thing5c {
	flex: 1;
	border: 1px solid pink;
	background-color: orange;
	padding: 1em;
	margin: 1em;
}
